@import "../../styles/variables.css";

.tabs-container {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-sm);
  border: 2px solid var(--border-color);
  border-radius: 15px;
  background: white;
  width: 600px;
}
