@import "../styles/variables.css";

.tab-panel-container {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: var(--margin-lg);
  background-color: var(--background-light);
}

.tab-panel-subtitle {
  color: var(--subtitle-color);
  font-size: var(--font-xs);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tab-panel-title {
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
  margin-top: var(--margin-xs);
  color: var(--text-primary);
}

.tab-panel-description {
  margin-top: var(--margin-xs);
  color: var(--text-secondary);
  font-size: var(--font-sm);
  line-height: 1.6;
}

.tab-panel-content {
  margin-top: var(--margin-md);
}
